body {
    background-color: #536c91;
    text-align: center;
    align-items: center;
 
}
div {
    background-color: #FEFBE9;
    border-radius: 10px;
    width: 600px;
    max-height: 1000px;
    margin-left: 420px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
div > input{
    margin-top: 30px;
   
}

div > button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #b6c0b3;
    border: 4px;
    border-color: black;
    margin-bottom: 20px;
    

}
.verde {
    color: green;
}
.vermelho {
    color:red
}